<div class='container'>
  <div class='row'>
    <div class='col'>
    </div>
        <div class='col'>
        <carousel>
          <slide>
            <img class='img-size-home' src="assets/images/1.jpg" alt="First slide">
            <div class="carousel-caption">
              <h3>First slide label</h3>
            </div>
          </slide>
          <slide>
            <img class='img-size-home' src="assets/images/2.jpg" alt="Second slide">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
            </div>
          </slide>
          <slide>
            <img class='img-size-home' src="assets/images/3.jpg" alt="Third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
            </div>
          </slide>
          <slide>
            <img class='img-size-home' src="assets/images/4.jpg" alt="Third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
            </div>
          </slide>
          <slide>
            <img class='img-size-home' src="assets/images/5.jpg" alt="Third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
            </div>
          </slide>
          <slide>
            <img class='img-size-home' src="assets/images/6.jpg" alt="Third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
            </div>
          </slide>
        </carousel>
      </div>
      <div class='col'>
      </div>
  </div>
</div>
